<div
  style="
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
  "
>
  <div style="text-align: center">
    <img
      src="https://res.cloudinary.com/dh2lr5aya/image/upload/v1728321079/Gas-Station-Pro-logo_gmzb8j.webp"
      alt="Gas Station Pro Logo"
      style="width: 150px; margin-bottom: 20px"
    />
  </div>
  <div style="background-color: #ffffff; padding: 20px; border-radius: 8px">
    <h2 style="color: #333">Welcome to Gas Station Pro, {{name}}!</h2>

    <p style="color: #555">
      Your company admin has created an account for you on Gas Station Pro, the
      platform that makes managing gas stations simple and efficient.
    </p>

    <h3 style="color: #333">To get started:</h3>
    <ul style="color: #555; padding-left: 20px">
      <li>
        Click the link below to activate your account and set a new password.
      </li>
      <li>
        This activation link will only be valid for the next
        <strong>24 hours</strong>.
      </li>
    </ul>

    <div style="text-align: center; margin: 20px 0">
      <a
        href="{{link}}"
        clicktracking="off"
        style="
          background-color: #007bff;
          color: #ffffff;
          text-decoration: none;
          padding: 15px 25px;
          border-radius: 5px;
          font-weight: bold;
          display: inline-block;
        "
        >Activate Account</a
      >
    </div>

    <p style="color: #555">
      Alternatively, you can click on the link below to activate your account:
    </p>
    <p>
      <a href="{{link}}" clicktracking="off" style="color: #007bff">{{link}}</a>
    </p>

    <hr style="margin: 30px 0" />

    <p style="font-size: 0.9rem; color: #777">
      If you have any questions or need help, please reach out to our support
      team at
      <a href="mailto:support@gasstationpro.com" style="color: #007bff"
        >support@gasstationpro.com</a
      >. We're here to help you get the most out of Gas Station Pro!
    </p>

    <p style="color: #333">
      Welcome aboard,<br /><strong>The Gas Station Pro Team</strong>
    </p>
  </div>
</div>
